<!doctype html>
<html>
  <head>
    <title>Jase In Space</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <link rel="stylesheet" type="text/css" href="/css/feed.css">
  
  
  </head>
  <body>
    <header>
      <!--Site Name-->
      Jase In Space
      <!--MyMarist Portal-->
      <div id="portal_button">
   <image id="redfox" src="https://cdn.imgbin.com/15/23/25/imgbin-wall-decal-earth-planet-elysium-space-sticker-planet-surface-8KEXkpGA9EeZjk7ADWzhQxuQj.jpg">
      ClickLogo
        </div>
    </header>
    <main>
      <div id="newsfeed"></div>
    <div id = "parent"><h1 id = "stories"> Jase in Space</h1>
      
      <p id ="horizontal">
        <div id = "storyOne"></div>
        <div id = "storyTwo"></div>
        <div id = "storyThree"></div>
      </p>
    </div>
    </main>
    <footer>
    <script src="js/global.js"></script>
    <script src="js/feed.js"></script>
      <p id="site_info">Copyright &copy; 2022: NASA est. 1958</p>
    </footer>

  </body>
</html>
