body {
  background-image: url(https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/space-background-astronaut-standing-on-moon-surface-with-earth-tomas-novy.jpg);
  background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
  background-color: rgb(251, 227, 175);
}

#splash_title {
	width: 100%;
  font-size: 100px;
  color: rgb(34, 46, 217);
  opacity: 0.85;
  text-shadow: 4px 4px 4px rgb(251, 227, 175);
  text-align: center;
}

.menu_button {
	background-color: rgb(24, 50, 154)
    font-size: 28px;
    color: white;
    cursor: pointer;
    text-align: center;
    user-select: none;
}

.background_button {
    border-radius: 12px;
    padding: 16px 20px;
}
